<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bit-Currency</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}">
  <link type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}" />
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/slick.css')}}">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
</head>

<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1">
  <!-- Here is the Hedder Part Start -->
  <header id="home">
    <nav class="navbar navbar-default custom_nav">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              <a href="home.html"><img src="images/slider-logo.png" class="img-responsive" alt="img"></a>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-1 col-sm-9">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav nav-menu">
                <li class="active"><a href="home.html" class="">Home</a></li>
                <li><a href="#pricing">About</a></li>
                <li><a href="#service">Services</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="404.html">404 page</a></li>
                    <li><a href="signup.html">sign up</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogs <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="blog-grid.html">blog grid</a></li>
                    <li><a href="blog-grid-right-menu.html">blog grid right menu</a></li>
                    <li><a href="blog-grid-left-menu.html">blog grid left menu</a></li>
                    <li><a href="blog-list-left-menu.html">blog list left menu</a></li>
                    <li><a href="blog-list-right-menu.html">blog list right menu</a></li>
                    <li><a href="blog-grid-detail.html">blog details page</a></li>
                  </ul>
                </li>
                <li><a href="#contacts">Contact</a></li>
              </ul>
              <ul class="button--naira menu-btn">
                <li><a href="#" class="button button--wayra" data-toggle="modal" data-target="#exampleModal2">Signup/login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Modal -->
  <div class="col-12">
    <div class="row">
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header modal-header2"><a href="#" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></a></div>
            <div class="modal-body">
              <form>
                <div class="col-12">
                  <div class="row">
                    <div class="heading heading3 col-lg-12 text-center">
                      <h2>Customer Login</h2></div>
                    <div class="col-lg-11">
                      <div class="form-group login-lable">
                        <p>E-mail Address <span class="required">*</span></p>
                        <input type="email" class="form-control" id="exampleFormControlInput16" placeholder="E-mail Address">
                      </div>
                    </div>
                    <div class="col-lg-11">
                      <div class="form-group login-lable">
                        <p>Password <span class="required">*</span></p>
                        <input type="password" class="form-control" id="exampleFormControlInput15" placeholder="Password">
                      </div>
                    </div>
                    <div class="col-lg-6 checkbox checkbox-primary">
                      <input id="checkbox2" type="checkbox">
                      <p>Remember me</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 blog-btn submit-join"><a href="#" class="btn bro-btn btn-4">Login</a></div>
                <div class="col-lg-12 account">
                  <p>Don't have an account?<a href="signup.html">Sign up</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->
  <!---- Here is the Hedder Part End ----->
  <!--            Here is the login part Start -->
  <section class="register-sider-banner" id="register-body">
    <div class="container">
      <div class="row register-top">
        <div class="col-sm-6 col-lg-6 hidden-xs left-sider ">
          <div class="logo">
            <a href="#"><img src="images/slider-logo.png" alt="Subscribe" /></a>
            <h3>Sed sit amet tellus at justo eleifend egestas. Pellentesque eu nibh at nisi facilisis porta at id justo tellus at justo eleifend egestas.</h3></div>
        </div>
        <div class="col-sm-6 col-lg-6 form-design">
          <div class="row">
            <form>
              <div class="heading heading3 col-lg-12 text-center">
                <h2>Customer Signup</h2></div>
              <div class="col-lg-11">
                <div class="form-group">
                  <p>First name</p>
                  <input type="text" class="form-control" id="exampleFormControlInput17" placeholder="First Name">
                </div>
              </div>
              <div class="col-lg-11">
                <div class="form-group">
                  <p>Last name</p>
                  <input type="text" class="form-control" id="exampleFormControlInput18" placeholder="Last Name">
                </div>
              </div>
              <div class="col-lg-11">
                <div class="form-group">
                  <p>E-mail Address <span class="required">*</span></p>
                  <input type="email" class="form-control" id="exampleFormControlInput160" placeholder="E-mail Address">
                </div>
              </div>
              <div class="col-lg-11">
                <div class="form-group">
                  <p>Password <span class="required">*</span></p>
                  <input type="password" class="form-control" id="exampleFormControlInput150" placeholder="Password">
                </div>
              </div>
              <div class="col-lg-11">
                <div class="form-group">
                  <p>Re-enter Password <span class="required">*</span></p>
                  <input type="password" class="form-control" id="exampleFormControlInput14" placeholder="Re-enter Password">
                </div>
              </div>
              <div class="col-lg-12 blog-btn submit-join "><a href="#" class="btn bro-btn btn-4">Submit</a></div>
              <div class="col-lg-12 account">
                <p>Already have an account with us?<a href="#" data-toggle="modal" data-target="#exampleModal2">Log in</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--            Here is the login part End -->
  <!------------------ Here is the Contact Part Start ------------------->
  <section id="contacts" class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="contact-logo">
            <a href="home.html"><img src="images/slider-logo.png" class="img-responsive" alt="img"></a>
            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et .</p>
            <p>veniam, quis nostrud exercitation ullaco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contact-address footer-common">
            <h5>Get in Touch</h5>
            <ul>
              <li>
                <p>l:</p><span>+1234 Huntingtong, Newyork City America</span></li>
              <li>
                <p>e:</p><span>bitcurrency@245.com<br>cryptocurrency@bit.com</span></li>
              <li>
                <p>p:</p><span>+990 0124 567 890, +0987 654 321</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="contact-links footer-common">
            <h5>Important Links</h5>
            <ul>
              <li>Home</li>
              <li>About us</li>
              <li>Our Services</li>
              <li>Our Portfolio</li>
              <li>Contact us</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-news footer-common">
            <h5>Signup for Newsletter</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            <form action="#">
              <div class="input-group">
                <input type="email" class="form-controls" placeholder="Your E-mail Here"><span class="input-group-btn"><a class="button-form">Submit</a></span></div>
            </form>
            <a href="#"><img src="images/payment-image.png" class="img-responsive" alt="img"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------------- Here is the Contact Part End ------------->
  <!----------------- Here is the Footer Part Start ------------>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="footer-inner">
            <p>Copyright © 2018. All rights <a href="http://www.bootstrapmb.com/">Reserved</a>by Designer</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--------- Here is the Footer Part End ------------->
  <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/SmoothScroll.js')}}"></script>
  <script src="{{url_for('static', filename='js/utils.js')}}"></script>
  <script src="{{url_for('static', filename='js/widget.js')}}"></script>
  <script src="{{url_for('static', filename='js/webticker.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/Carousel.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>